<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Page of result</title>
</head>
  <body class="container">
    <h1>The two words are</h1>
    <hr>
    <p>
      <a href="/">Go Home</a>
    </p>
  </body>
</html>
